.header-wrap {
  background-image: url(../images/bg.png);
  position: relative;
  height: 100vh;
  min-height: 600px;
  z-index: 3;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;

  video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  /*---@media---*/
  @media (min-aspect-ratio: 16/9) {
    video {
      width: 100%;
      height: auto;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    video {
      width: auto;
      height: 100%;
    }
  }
  /*---*/
  /*@media (min-aspect-ratio: 16/9) {
    video {
      height: 300%;
      top: -100%;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    video {
      width: 300%;
      left: -100%;
    }
  }*/
  /*---*/
  @media (max-width: 767px) {
    video {
      display: none;
    }
  }
}

.header {
  position: relative;
  padding-top: 35px;
  margin: 0;

  .logo {
    margin: auto 0;
    width: 166px;
    height: 33px;
  }

  .menu-bar {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      font: 16px/42px $raleway;
      font-weight: 700;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 12px 40px;

      &:hover {
        border-color: #fff;
      }
    }
  }

  .navbar {
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $white;
      opacity: .6;
    }
  }
}

.reservation {
  margin-top: 20vh;

  .autocompl-form {
    position: relative;
    z-index: 10;
    margin: 10vh auto 0;

    input {
      font-family: $raleway;
      height: 60px;
      width: 100%;
      border-radius: 5px 0 0 5px;
      border: none;
      padding: 0 200px 0 20px;
    }

    button {
      position: absolute;
      z-index: 15;
      top: 0;
      right: 0;
      background-color: $red;
      border-radius: 0 5px 5px 0;
      padding: 23px 40px;
      border: none;
      color: $white;
      font-weight: 700;
      font: 14px/11px $raleway;

      i {
        margin-right: 10px;
      }

      &:hover {
        color: $black;
      }
    }
  }
}

/*-------@media--------*/
@media (max-width: 768px) {

  .header-wrap {
    height: 700px;
  }

  .menu-bar li {
    padding-right: 50px;
  }
}

/*-------@media--------*/
@media (max-width: 576px) {

  .reservation .autocompl-form{

    input {
      padding: 0 130px 0 20px;
    }

    button {
      padding: 23px 10px;
    }
  }
}

/*   ----For autocomplete----  */
.autocomplete-suggestion {
  background-color: #fff;
  padding: 10px 25px;
  color: $black;
  opacity: .9;
}

