.text {
  &-white {
    color: $white;
  }

  &-black {
    color: $black;
  }

  &-gray {
    color: $gray;
  }

  &-center {
    text-align: center;
  }
}

.upper {
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

.just-c-center {
  justify-content: center;
}

.just-c-sp-b {
  justify-content: space-between;
}

.just-c-sp-ar {
  justify-content: space-around;
}