.text {
  &-white {
    color: $white;
  }

  &-black {
    color: $black;
  }

  &-gray {
    color: $gray;
  }
}

.text-center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}








.marg-0 {
  margin-right: 0;
  margin-left: 0;
}

.pad-0 {
  padding-left: 0;
  padding-right: 0;
}

a:hover {
  text-decoration: none;
}

.flexes {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.align-i-center {
  align-items: center;
}

.just-c-center {
  justify-content: center;
}

.just-c-sp-b {
  justify-content: space-between;
}

.just-c-sp-ar {
  justify-content: space-around;
}